<p><%if current_user %>
Signined in as <%= current_user.name %>
<%= link_to "Sign Out", sessions_logout_path %>
<% else %>
<p><%= link_to "Sign in with Twitter", "/auth/twitter" %></p>
<p><%= link_to "Sign in with Facebook", "/auth/facebook" %></p>
<% end %>
</p>
